<app-header></app-header>

<div class="container">
    <h3>My Profile</h3>

    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" novalidate>
          <p>
            <label for="firstname">First Name </label><br>
            <input class="form-control" type="text" id="firstname" name="firstname" formControlName="firstname">
          </p>
       
          <p>
            <label for="lastname">Last Name </label><br>
            <input class="form-control" type="text" id="lastname" name="lastname" formControlName="lastname">
          </p>
       
          <p>
            <label for="email">Email </label><br>
            <input class="form-control" type="text" id="email" name="email" formControlName="email">
          </p>

          <p>
            <label for="contact">Contact </label><br>
            <input class="form-control" type="text" id="contact" name="contact" formControlName="contact">
          </p>
          <p>
            <label for="password">Password </label><br>
            <input class="form-control" type="password" id="password" name="password" formControlName="password">
          </p>
          <button class="btn btn-success" type="submit">Edit</button>
    </form>
</div>

<app-footer></app-footer>