<div style="width: 100%;">
    <app-header></app-header>
    <!-- <div style="width: 15%; float: left;">
        <app-sidebar></app-sidebar>
    </div> -->
    
    <div class="fullpage">
    <div class="header">
    <h1>Social Track</h1>
    </div>
        <div class="container">
            <a [routerLink]="['/whatsapp']">
                 <div class="col-md-4 whatsapp" >
                     <img src="assets/image/whatsapp.png">
                     <h5 class="title">Whatsapp</h5>
                 </div>
             </a>
         
             <!-- <a [routerLink]="['/facbook']">
                 <div class="col-md-4 facebook">
                     <img src="assets/image/facebook-512.png">
                     <h5 class="title">Facebook</h5>
                 </div>
             </a>
         
             <a [routerLink]="['/instagram']">
                 <div class="col-md-4 instagram" >
                     <img src="assets/image/174855.png">
                     <h5 class="title">Instagram</h5>
                 </div>
             </a> -->
        </div>
    </div>
    
    <app-footer></app-footer>
</div>
